/* #root {
  max-width: 1280px;
  margin: right;
  padding: 2rem;
  text-align: left;
} */
/* .a {
  
}
.rajdhani-light {
  font-family: "Rajdhani", serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Rajdhani', serif;
} */