.top {
    flex: auto; 
    background-color: black; /* Optional: Background for the top */
    color: white;
    padding: 0 3%; 
}
.top-elements {
    display: flex; 
    align-items: center; /* center vertically */
    justify-content: space-between; 
}
a {
    color: crimson;
}
a:hover{
    color: transparent;
    text-shadow: 1px 1px rgb(220, 0, 150);
}
.top-navbar {
    font-family: oxanium;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex; 
    gap: 30px; 
}