:root {
    --checkbox-size: 21px;
    --checkbox-inner-size: 12px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    
}

.left-right-container {
    display: flex;
    flex: 1; 
}
.tagtext {
    flex: flex;
    padding-left: 2%;

}
.left {
    flex: 1; 
    width: 10%;
    height: 100%;
    margin-left: 48px;
  
    background-image: repeating-linear-gradient(
      transparent,
      transparent 1px,
      rgba(0, 255, 0, 0.05) 3.5px
    );
    background-size: 100% 4px;
  
    animation: flicker 0.001s infinite alternate;
    background-color: #792222; 
    background-color: #4b0a0a15; /* Optional: Background color for the left */
    display: flex;
    flex-direction: column; /* Stack divs inside left */
}
.left-elements {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}
.sorting {
    /* background-color: cyan; */
    margin-left: 10px;
}
.tags {
    
    font-family: Oxanium;
    display: flex;
    background-color: rgb(5, 5, 56);
    flex-grow: 1;
    color: white;
    text-shadow: 3px 3px rgb(0, 45, 105);
}

.right {
    flex: 4; /* Right side takes more space */
/* Optional: Background color for the right */
    padding: 50px; /* Add padding inside the right section */
}
.cyber-check-tags
{
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: 2px solid yellow;
    border-radius: 1px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
}
.cyber-check-tags::before
{
    content: "";
    border-radius: 1px;
    margin-left: 0.25px;
    width: var(--checkbox-inner-size);
    height: var(--checkbox-inner-size);
    background-color: aqua;
    position: relative;
    top: calc((var(--checkbox-size) - var(--checkbox-inner-size)) / 2 - 2px);
    left: calc((var(--checkbox-size) - var(--checkbox-inner-size)) / 2 - 2px);
    display: block;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 120ms transform ease-in-out;
    transition: 120ms transform ease-in-out;

}

.cyber-check-tags:checked:before
{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.store-table {
    font-family: Oxanium !important;
    width: 100%; /* Force table to fill the entire width of the container */
    border-collapse: collapse;
    color: rgb(255, 0, 111);
    text-shadow: 1px 1px rgb(94, 0, 0);
    tr:hover {
        color: aqua;
        text-shadow: 2px 2px rgb(94, 0, 0);
    }
}
    /* tr:hover {
    text-shadow: 2px 2px #0072a7;
    color: aqua;
    } */
.thead,
tr:nth-child(even){
    background-color: rgb(31, 31, 31);
}
th:nth-child(1) {
    width: 5%; /* First column (Header 1) takes 10% */
}

th:nth-child(2) {
    width: 30%; /* Second column (Header 2) takes 30% */
}

th:nth-child(3) {
    width: 50%; /* Remaining space (Header 3) takes the rest */
}









