body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    
}

.left-right-container {
    display: flex;
    flex: 1; 
}

.left {
    flex: 1; 
    position: relative;
    width: 100%;
    height: 100%;
  
    background-image: repeating-linear-gradient(
      transparent,
      transparent 1px,
      rgba(0, 255, 0, 0.05) 3.5px
    );
    background-size: 100% 4px;
  
    animation: flicker 0.001s infinite alternate;
    background-color: #792222; 
    background-color: #4b0a0a15; /* Optional: Background color for the left */
    display: flex;
    flex-direction: column; /* Stack divs inside left */
}
.left-elements {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}
.sorting {
    /* background-color: cyan; */
    margin-left: 10px;
}
.tags {
    display: flex;
    background-color: rgb(6, 6, 71);
    flex-grow: 1;
}

.right {
    flex: 4; /* Right side takes more space */
/* Optional: Background color for the right */
    padding: 10px; /* Add padding inside the right section */
}
.store-table {
    font-family: Oxanium !important;
    width: 100%; /* Force table to fill the entire width of the container */
    border-collapse: collapse;
    color: rgb(255, 0, 111);
    text-shadow: 1px 1px rgb(94, 0, 0);
    tr:not(thead):hover {
        color: aqua;
        text-shadow: 2px 2px rgb(94, 0, 0);
          }
    /* tr:hover {
    text-shadow: 2px 2px #0072a7;
    color: aqua;
    } */


}
th:nth-child(1) {
    width: 5%; /* First column (Header 1) takes 10% */
}

th:nth-child(2) {
    width: 30%; /* Second column (Header 2) takes 30% */
}

th:nth-child(3) {
    width: auto; /* Remaining space (Header 3) takes the rest */
}








